@import '../../styles/colors';

.modal-container {
	font-family: inherit;
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(65, 65, 65, 0.9);

	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	&.active {
		display: flex;
	}

	> .inner {
		position: relative;
		width: 400px;
		min-height: 400px;
		background: @t4t-cyan-light;

		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 15px;

		.modal-content {
			background: @t4t-cyan-light;
		}

		.closeModal {
			position: absolute;
			right: 29px;
			top: 22px;
			width: 44px;
			height: 44px;
			border-radius: 30px;
			background-color: @t4t-white;

			cursor: pointer;

		 	&:before, &:after {
				position: absolute;
				left: 20px;
				top: 10px;

				content: '';

				width: 3px;
				height: 24px;
				border-radius: 5px;
				background-color: @t4t-black;
			}

			&:before {
				transform: rotate(44deg);
			}

			&:after {
				transform: rotate(-44deg);
			}
		}
		.closeModal:hover {
			background-color: @t4t-red-light;
			&:before, &:after {
				background-color: @t4t-white;
			}
		}
	}
}