@import '../../styles/colors';

.navhead {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px;
  box-shadow: 0 0 7px 0 @t4t-gray08;
  z-index: 10;

  .navbar-left-floated-content {
    float: left;

    .logo {
      font-size: 20px;
      width: 160px;
      padding: 10px;
      color: @t4t-gray05;
      background-color: @t4t-cyan-light;
      border: none;
      border-radius: 10px;
    }
  }

  .navbar-center-content {
    width: auto;
    margin: auto;
  }

  .navbar-right-floated-content {
    float: right;
    display: flex;

    .nav-bar-sign-in-button {
      color: @t4t-blue-light;
      border: none;
      background-color: @t4t-white;
    }

    .nav-bar-right-child {
      margin-right: 40px;
    }
  }

  @media screen and (max-width: 900px) {
    .navbar-center-content {
      margin: 0 0 0 10px;
    }
  }
}