@import '../../styles/colors';

.logo {
  position: absolute;
  font-size: 20px;
  left: 40px;
  top: 20px;
  width: 160px;
  padding: 10px;
  color: @t4t-gray05;
  background-color: @t4t-cyan-light;
  border: none;
  border-radius: 10px;
}

.signUp {
  position: absolute;
  right: 40px;
  top: 20px;
}

.signIn {
  position: absolute;
  top: 20px;
  right: 200px;
  color: @t4t-blue-light;
  border: none;
  background-color: @t4t-white;
}

.navbar-search-bar {
  .t4t-search-bar-button {
    position: absolute;
    top: 38px;
    right: 770px;
  }

  .t4t-search-bar {
    position: absolute;
    top: 30px;
    right: 380px;
  }
}