html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    overflow-x: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 25px;
    opacity: 0.6;
    color: #828282;
    height: 32px;
    margin: 0;
    padding: 0;
}

h1.popular {
    position: relative;
    left: 88px;
    top: 85px;
}

h1.reading {
    position: relative;
    left: 1300px;
    bottom: 390px;
}

h1.network {
    position: relative;
    left: 88px;
    bottom: 650px;
}

.mostpopular {
    position: relative;
    top: 112px;
    left: 88px;
    display: flex;
    height: 444px;
    width: 1095px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftPrev, .rightPrev{
    display: flex;
    justify-content: space-around;
    height: 444px;
}

.leftPrev {
    width: 373px;
    flex-direction: column;
}

.rightPrev {
    width: 651px;
    flex-direction: row;
    flex-wrap: wrap;
}

.readinglist {
    position: relative;
    bottom: 325px;
    left: 1375px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 441px;
}

.readinglist .article.condensed {
    padding-bottom: 25px;
}

.networknews {
    position: relative;
    left: 88px;
    bottom: 600px;
    display: flex;
    flex-direction: row;
    width: 314px;
}