.article.condensed .prevImg {
    position: absolute;
    left: 0;
    height: 113px;
    width: 108px;
}

.article.larger .prevImg {
    height: 142px;
    width: 292px;
}

.article.author .prevImg {
    height: 110px;
    width: 344px;
    padding-bottom: 10px;
}

.article.condensed {
    right: 15.5px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 113px;
    width: 373px;
}

.article.larger {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 214px;
    width: 293px;
}

.article.author {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 201px;
    width: 344px;
    padding-right: 42px;

}

.article.condensed .articleInfo {
    position: absolute;
    left: 146px;
    width: 225px;
    height: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article.larger .articleInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.articleTitle {
    width: 225px;
    height: 20px;
    font-size: 20px;
    text-align: left;
}

.article.larger .articleTitle {
    padding-top: 5px;
    padding-bottom: 10px;
}

.article.author .articleTitle {
    padding-bottom: 10px;
}

.articleDesc {
    line-height: 16px;
    text-align: left;
    height: 48px;
    font-size: 10px;
}

.article.condensed .articleDesc {
    position: absolute;
    left: 0;
    top: 42px;
    width: 198px;
}

.article.larger .articleDesc {
    width: 276px;
}

.article.author .articleDesc {
    width: 204px;
}

.bookmark, .like {
    position: absolute;
}

.bookmark {
    bottom: 27px;
    right: 17px;
}

.like {
    bottom: 0px;
    right: 14px;
}

.article.larger .bookmark {
    bottom: 55px;
    right: 37px;
}

.article.larger .like {
    bottom: 55px;
    right: 0px;
}

.userpic {
    position: absolute;
    right: 80px;
    bottom: 17px;
    height: 48px;
    width: 48px;
}